extends layout

block content
    ul#list-messages
        //handle saved messages
block script
    //script(src="/room/minion/socket.io/socket.io.js")
    script(src="/socket.io/socket.io.js")
    //script(src="https://cdn.socket.io/socket.io-1.4.5.js")
    script(src="/javascripts/minion.js")


