extends layout
block content
    div#frame
        div#chat.abc
            h1 redocChat
            p recent conversations
            hr
            p
                a(href="#contact") start chat with [+]
            ul#recent-conversations
                //show list
        div#contact.abc
            h1 contact
            hr
            p active users
            ul#list-active-users
                //show list
            p friends
            hr
        div#conversation.abc
            h1 conversation
            hr
            p
                a(href="#chat") home
            p
                a(href="#contact") new conversation [+]
            p#conversation-title select your friends to start chat
            form#form-message
                input#input-message(autocomplete="off", type= "text")
                button(style="display: none") send
            ul#list-messages
                //show msg chat
        div#info
            input#userA-sender(type="hidden", name="userA-sender", value= userA_sender)
block script
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/socket-client-side.js")