body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#list-messages{
}
#list-messages li{
    height: 20px;
    width: 200px;
    margin: 5px;
    padding: 5px;
}
#login-with a{
     display: block;
 }
.msg-left{
    max-width: 65%;
    float: left;
    border-radius: 2px;
    border: 2px solid green;
    border-left-width: 0;
}
.msg-right{
    max-width: 65%;
    float: right;
    border-radius: 2px;
    border: 2px solid blue;
    border-right-width: 0;
}
#frame{
    width: 215px;
    height: 500px;
    /*overflow: hidden;*/
    border: 1px solid black;
}
.abc{
    height: 450px;
}